In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math
from sparsesvd import sparsesvd
import scipy
from scipy.sparse import csc_matrix
from scipy.sparse.linalg import *
from sklearn.model_selection import train_test_split
%matplotlib inline

In [22]:
#ratings input (taking only the first three columns)
ratings_columns = ['userid', 'movieid', 'rating']
ratings = pd.read_csv('./ml-100k/u.data', sep = '\t', names = ratings_columns, usecols = range(3))

In [23]:
#movie inputs (Taking 2 columns)
movie_columns = ['movieid', 'title']
movies = pd.read_csv('./ml-100k/u.item', sep = '|', engine = 'python', names = movie_columns, usecols= range(2))

In [124]:
ratings.head()

   userid  movieid  rating
0     196      242       3
1     186      302       3
2      22      377       1
3     244       51       2
4     166      346       1

In [125]:
movies.head()

   movieid              title
0        1   Toy Story (1995)
1        2   GoldenEye (1995)
2        3  Four Rooms (1995)
3        4  Get Shorty (1995)
4        5     Copycat (1995)

In [126]:
#merging both dataframes
dataset = pd.merge(ratings, movies)

In [127]:
dataset.head()

   userid  movieid  rating         title
0     196      242       3  Kolya (1996)
1      63      242       3  Kolya (1996)
2     226      242       5  Kolya (1996)
3     154      242       3  Kolya (1996)
4     306      242       5  Kolya (1996)

In [130]:
#Pivoting table to cerate a user-item matrix
user_movies = dataset.pivot_table(index = 'userid', columns= 'title', values = 'rating')

In [131]:
user_movies.head()

title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,� k�ldum klaka (Cold Fever) (1994)
userid,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,2.0,5.0,NaN,NaN,3.0,4.0,NaN,NaN,...,NaN,NaN,NaN,5.0,3.0,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,2.0,NaN,NaN,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,4.0,NaN

In [430]:
#creating a item-item matrix to check similarity in ratings between 2 movies
corr_matrix = user_movies.corr()

In [431]:
corr_matrix.head()

title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,� k�ldum klaka (Cold Fever) (1994)
title,,,,,,,,,,,,,,,,,,,,,
'Til There Was You (1997),1.0,NaN,-1.000000,-0.500000,-0.500000,0.522233,NaN,-0.426401,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1-900 (1994),NaN,1.0,NaN,NaN,NaN,NaN,NaN,-0.981981,NaN,NaN,...,NaN,NaN,NaN,-0.944911,NaN,NaN,NaN,NaN,NaN,NaN
101 Dalmatians (1996),-1.0,NaN,1.000000,-0.049890,0.269191,0.048973,0.266928,-0.043407,NaN,0.111111,...,NaN,-1.000000,NaN,0.158840,0.119234,0.680414,0.000000,0.707107,NaN,NaN
12 Angry Men (1957),-0.5,NaN,-0.049890,1.000000,0.666667,0.256625,0.274772,0.178848,NaN,0.457176,...,NaN,NaN,NaN,0.096546,0.068944,-0.361961,0.144338,1.000000,1.0,NaN
187 (1997),-0.5,NaN,0.269191,0.666667,1.000000,0.596644,NaN,-0.554700,NaN,1.000000,...,NaN,0.866025,NaN,0.455233,-0.500000,0.500000,0.475327,NaN,NaN,NaN

In [433]:
#Looking to see star wars similarities with other movies
corr_matrix.loc['Star Wars (1977)'].sort_values(ascending = False)

title
Man of the Year (1995)                                                               1.000000
Full Speed (1996)                                                                    1.000000
Star Wars (1977)                                                                     1.000000
Mondo (1996)                                                                         1.000000
Line King: Al Hirschfeld, The (1996)                                                 1.000000
Outlaw, The (1943)                                                                   1.000000
Hurricane Streets (1998)                                                             1.000000
Hollow Reed (1996)                                                                   1.000000
Scarlet Letter, The (1926)                                                           1.000000
Safe Passage (1994)                                                                  1.000000
Good Man in Africa, A (1994)                                                         1.000000
Golden Earrings (1947)                                                               1.000000
Old Lady Who Walked in the Sea, The (Vieille qui marchait dans la mer, La) (1991)    1.000000
No Escape (1994)                                                                     1.000000
Ed's Next Move (1996)                                                                1.000000
Stripes (1981)                                                                       1.000000
Cosi (1996)                                                                          1.000000
Commandments (1997)                                                                  1.000000
Twisted (1996)                                                                       1.000000
Beans of Egypt, Maine, The (1994)                                                    1.000000
Last Time I Saw Paris, The (1954)                                                    1.000000
Maya Lin: A Strong Clear Vision (1994)                                               1.000000
Designated Mourner, The (1997)                                                       0.970725
Albino Alligator (1996)                                                              0.968496
Angel Baby (1995)                                                                    0.962250
Prisoner of the Mountains (Kavkazsky Plennik) (1996)                                 0.927173
Love in the Afternoon (1957)                                                         0.923381
'Til There Was You (1997)                                                            0.872872
A Chef in Love (1996)                                                                0.868599
Quiet Room, The (1996)                                                               0.866025
                                                                                       ...
Tigrero: A Film That Was Never Made (1994)                                                NaN
Time Tracers (1995)                                                                       NaN
To Cross the Rubicon (1991)                                                               NaN
Tokyo Fist (1995)                                                                         NaN
Touki Bouki (Journey of the Hyena) (1973)                                                 NaN
Truman Show, The (1998)                                                                   NaN
Turbo: A Power Rangers Movie (1997)                                                       NaN
Turning, The (1992)                                                                       NaN
Two Friends (1986)                                                                        NaN
Venice/Venice (1992)                                                                      NaN
Vermin (1998)                                                                             NaN
Vermont Is For Lovers (1992)                                                              NaN
Very Natural Thing, A (1974)                                                              NaN
Vie est belle, La (Life is Rosey) (1987)                                                  NaN
Visitors, The (Visiteurs, Les) (1993)                                                     NaN
Walk in the Sun, A (1945)                                                                 NaN
War at Home, The (1996)                                                                   NaN
Wedding Bell Blues (1996)                                                                 NaN
Wend Kuuni (God's Gift) (1982)                                                            NaN
When Night Is Falling (1995)                                                              NaN
Wife, The (1995)                                                                          NaN
Window to Paris (1994)                                                                    NaN
Wings of Courage (1995)                                                                   NaN
Witness (1985)                                                                            NaN
Woman in Question, The (1950)                                                             NaN
Wonderland (1997)                                                                         NaN
Wooden Man's Bride, The (Wu Kui) (1994)                                                   NaN
Yankee Zulu (1994)                                                                        NaN
You So Crazy (1994)                                                                       NaN
� k�ldum klaka (Cold Fever) (1994)                                                        NaN
Name: Star Wars (1977), Length: 1664, dtype: float64




What was interesting to see here is that movies like Full Speed and Man of the year (which I haven't even heard of) were highly correlated with Star Wars. This didn't make sense to me, so I decided to look at how many times such movies were rated.

In [483]:
dataset[dataset['title'] == "Full Speed (1996)"]

       userid  movieid  rating              title
99120     100     1238       2  Full Speed (1996)
99121     489     1238       4  Full Speed (1996)
99122     404     1238       3  Full Speed (1996)
99123     423     1238       3  Full Speed (1996)
99124     519     1238       5  Full Speed (1996)
99125     512     1238       4  Full Speed (1996)
99126     845     1238       2  Full Speed (1996)
99127     655     1238       2  Full Speed (1996)

As we can see, Full speed was only rated 8 times and rated reasonably well, therefore seemed to be closer to a movie as legendary as Star Wars. So I decided to improve on the correlation matrix by looking at relationships where both movies were rated atleast 90 times.

In [434]:
corr_matrix = user_movies.corr(method = 'pearson', min_periods = 90)

In [435]:
corr_matrix.head()

title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,� k�ldum klaka (Cold Fever) (1994)
title,,,,,,,,,,,,,,,,,,,,,
'Til There Was You (1997),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1-900 (1994),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101 Dalmatians (1996),NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12 Angry Men (1957),NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
187 (1997),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Now lets look at movies that are closely related to Star Wars

In [436]:
corr_matrix.loc['Star Wars (1977)'].sort_values(ascending = False)

title
Star Wars (1977)                                            1.000000
Empire Strikes Back, The (1980)                             0.747981
Return of the Jedi (1983)                                   0.672556
Raiders of the Lost Ark (1981)                              0.536117
Austin Powers: International Man of Mystery (1997)          0.377433
Sting, The (1973)                                           0.367538
Indiana Jones and the Last Crusade (1989)                   0.350107
Pinocchio (1940)                                            0.347868
Frighteners, The (1996)                                     0.332729
L.A. Confidential (1997)                                    0.319065
Dumbo (1941)                                                0.317656
Bridge on the River Kwai, The (1957)                        0.316580
Miracle on 34th Street (1994)                               0.310921
E.T. the Extra-Terrestrial (1982)                           0.303619
Mystery Science Theater 3000: The Movie (1996)              0.301809
Cinderella (1950)                                           0.299163
Batman (1989)                                               0.289344
Swingers (1996)                                             0.289310
Field of Dreams (1989)                                      0.285286
Star Trek: The Wrath of Khan (1982)                         0.282206
Back to the Future (1985)                                   0.274839
Snow White and the Seven Dwarfs (1937)                      0.270346
Wizard of Oz, The (1939)                                    0.266335
Firm, The (1993)                                            0.265878
Jaws (1975)                                                 0.265459
Beautiful Girls (1996)                                      0.265301
Terminator, The (1984)                                      0.262255
Star Trek: The Motion Picture (1979)                        0.260654
Princess Bride, The (1987)                                  0.259711
Get Shorty (1995)                                           0.259182
                                                              ...
Wild Bill (1995)                                                 NaN
Wild Bunch, The (1969)                                           NaN
Wild Reeds (1994)                                                NaN
Wild Things (1998)                                               NaN
Window to Paris (1994)                                           NaN
Wings of Courage (1995)                                          NaN
Wings of Desire (1987)                                           NaN
Wings of the Dove, The (1997)                                    NaN
Winnie the Pooh and the Blustery Day (1968)                      NaN
Winter Guest, The (1997)                                         NaN
Wishmaster (1997)                                                NaN
With Honors (1994)                                               NaN
Withnail and I (1987)                                            NaN
Witness (1985)                                                   NaN
Wolf (1994)                                                      NaN
Woman in Question, The (1950)                                    NaN
Women, The (1939)                                                NaN
Wonderful, Horrible Life of Leni Riefenstahl, The (1993)         NaN
Wonderland (1997)                                                NaN
Wooden Man's Bride, The (Wu Kui) (1994)                          NaN
World of Apu, The (Apur Sansar) (1959)                           NaN
Wyatt Earp (1994)                                                NaN
Yankee Zulu (1994)                                               NaN
Year of the Horse (1997)                                         NaN
You So Crazy (1994)                                              NaN
Young Guns II (1990)                                             NaN
Young Poisoner's Handbook, The (1995)                            NaN
Zeus and Roxanne (1997)                                          NaN
unknown                                                          NaN
� k�ldum klaka (Cold Fever) (1994)                               NaN
Name: Star Wars (1977), Length: 1664, dtype: float64

Now we see a clearer picture of movies that are closely related to star wars based on ratings. The other Star Wars movies appear on the list.

In [446]:
#creating a dictionary of penalties where movies that are rated highly are given additional bias and 
#movies rated poorly are given penalties

penalties = {1: -20, 2: -10, 3: 0, 4: 10, 5: 20}

In [465]:
#creating a function to fetch the user
def fetch_user(dataframe, index):
    
    return dataframe.iloc[index].dropna()

#getting the recommendations
def get_recommendations(user):
    recommendations = pd.Series()
    for i in range(len(user)):
        similarity = corr_matrix[user.index[i]].dropna()
        similarity = similarity.map(lambda x: (x * user[i]** 2) + (5 * penalties[user[i]]))
        recommendations = recommendations.append(similarity)
        
    recommendations = recommendations.groupby(recommendations.index).sum()
    recommendations.sort_values(ascending = False, inplace= True)
    return recommendations

In [466]:
#function to get the movie recommendations by inputting the user removing movies already watched by the user
def recommender(dataframe, index):
    user = fetch_user(dataframe, index)
    movie_recommend = get_recommendations(user)
    for movie in movie_recommend.index:
        if movie in user.index:
            movie_recommend.drop(movie, inplace = True)
    return movie_recommend

In [473]:
#creating a new user based on his love for adventure and fantasy movies and hatred for rom-coms
user_mov = pd.DataFrame({'Empire Strikes Back, The (1980)': 5, 'Pretty Woman (1990)' : 5, 'True Romance (1993)' : 1,
                        'Return of the Jedi (1983)' : 5, 'Kiss the Girls (1997)': 1, 'Sleepless in Seattle (1993)': 1,
                        'Star Trek: First Contact (1996)': 5, 'First Wives Club, The (1996)': 1,
                        'Star Wars (1977)' : 5}, index = [0])
user_mov.index.name = 'user'

In [474]:
user_mov

,"Empire Strikes Back, The (1980)","First Wives Club, The (1996)",Kiss the Girls (1997),Pretty Woman (1990),Return of the Jedi (1983),Sleepless in Seattle (1993),Star Trek: First Contact (1996),Star Wars (1977),True Romance (1993)
user,,,,,,,,,
0,5,1,1,5,5,1,5,5,1

In [475]:
#getting the recommendations for the user
recommender(user_mov, 0)

Back to the Future (1985)                        445.615886
Indiana Jones and the Last Crusade (1989)        445.086922
True Lies (1994)                                 441.007040
Dave (1993)                                      440.386217
Star Trek: The Wrath of Khan (1982)              439.867944
Batman (1989)                                    438.397599
Braveheart (1995)                                438.325858
Star Trek III: The Search for Spock (1984)       437.609341
Fugitive, The (1993)                             437.584467
Jurassic Park (1993)                             437.288756
Field of Dreams (1989)                           436.821662
Mrs. Doubtfire (1993)                            436.391946
Star Trek IV: The Voyage Home (1986)             436.050547
Aladdin (1992)                                   435.793739
Star Trek: Generations (1994)                    434.872092
Terminator 2: Judgment Day (1991)                434.192705
Ghost (1990)                                     434.043916
Top Gun (1986)                                   433.651682
Apollo 13 (1995)                                 433.555434
Lion King, The (1994)                            431.980032
Hunt for Red October, The (1990)                 431.972513
Terminator, The (1984)                           431.481378
E.T. the Extra-Terrestrial (1982)                431.317834
Usual Suspects, The (1995)                       430.574417
Grease (1978)                                    430.300674
Shawshank Redemption, The (1994)                 430.231992
Groundhog Day (1993)                             429.954006
Speed (1994)                                     429.456389
Die Hard 2 (1990)                                429.252406
Blues Brothers, The (1980)                       428.856538
                                                    ...
Scream (1996)                                    111.888926
Miracle on 34th Street (1994)                    107.773032
Day the Earth Stood Still, The (1951)            105.652554
My Left Foot (1989)                              105.629137
101 Dalmatians (1996)                            105.278307
Shine (1996)                                     104.719983
Close Shave, A (1995)                            104.586271
Mother (1996)                                    103.796309
Cable Guy, The (1996)                            103.606403
Sex, Lies, and Videotape (1989)                  103.527222
Private Parts (1997)                             102.816649
Cold Comfort Farm (1995)                         102.755396
Cinema Paradiso (1988)                           102.737503
William Shakespeare's Romeo and Juliet (1996)    102.471532
Jumanji (1995)                                   102.040609
Arsenic and Old Lace (1944)                      101.848555
Mr. Smith Goes to Washington (1939)              101.630486
On Golden Pond (1981)                            101.174284
Fly Away Home (1996)                             101.131354
Basic Instinct (1992)                            100.930731
Benny & Joon (1993)                              100.414817
Welcome to the Dollhouse (1995)                   99.931035
Killing Fields, The (1984)                        99.571942
George of the Jungle (1997)                       99.541261
Raging Bull (1980)                                99.108821
Strictly Ballroom (1992)                          99.063511
Everyone Says I Love You (1996)                   99.008714
Boogie Nights (1997)                              98.858491
Devil's Advocate, The (1997)                      98.711003
Alien 3 (1992)                                    98.381344
Length: 298, dtype: float64

We can see from the set of recommendations above that a lot of similar movies show up such as the other star trek movies, Indiana Jones and Back to the Future. Star Trek Generations seemed to quite low on the list, considering the user liked Star Trek: First Contact, but on seeing that Generations had performed poorly, it made more sense

Creating a recommender using matrix decomposition

In [524]:
user_movies.head()

title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,� k�ldum klaka (Cold Fever) (1994)
userid,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,2.0,5.0,NaN,NaN,3.0,4.0,NaN,NaN,...,NaN,NaN,NaN,5.0,3.0,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,2.0,NaN,NaN,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,4.0,NaN

In [862]:
# Taking the user movie matrix and filling nans with 0s.
svd_movies = user_movies.fillna(0)
svd_movies.head()

title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,� k�ldum klaka (Cold Fever) (1994)
userid,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,2.0,5.0,0.0,0.0,3.0,4.0,0.0,0.0,...,0.0,0.0,0.0,5.0,3.0,0.0,0.0,0.0,4.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,2.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,...,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,4.0,0.0

In [863]:
#Dividing each rating a user gave by the mean of each user's rating
user_means = np.array(svd_movies.mean(axis = 1)).reshape(-1, 1)
svd_movies = svd_movies.div(svd_movies.mean(axis = 1), axis = 0)
svd_movies_matrix = svd_movies.as_matrix()

In [864]:
user_means

array([[ 0.58713942],
       [ 0.13581731],
       [ 0.08834135],
       [ 0.0625    ],
       [ 0.30228365],
       [ 0.45492788],
       [ 0.95492788],
       [ 0.13461538],
       [ 0.05649038],
       [ 0.46514423],
       [ 0.37680288],
       [ 0.13461538],
       [ 1.17698317],
       [ 0.24098558],
       [ 0.17788462],
       [ 0.36418269],
       [ 0.05108173],
       [ 0.64603365],
       [ 0.04266827],
       [ 0.08954327],
       [ 0.28575721],
       [ 0.25721154],
       [ 0.32992788],
       [ 0.17668269],
       [ 0.18990385],
       [ 0.18930288],
       [ 0.04867788],
       [ 0.17427885],
       [ 0.07451923],
       [ 0.09735577],
       [ 0.08473558],
       [ 0.07902644],
       [ 0.05108173],
       [ 0.04867788],
       [ 0.04176683],
       [ 0.04567308],
       [ 0.125     ],
       [ 0.27043269],
       [ 0.04987981],
       [ 0.06069712],
       [ 0.11778846],
       [ 0.40985577],
       [ 0.49278846],
       [ 0.33112981],
       [ 0.10396635],
       [ 0.06670673],
       [ 0.0546875 ],
       [ 0.1484375 ],
       [ 0.34555288],
       [ 0.04897837],
       [ 0.04927885],
       [ 0.14362981],
       [ 0.06430288],
       [ 0.14423077],
       [ 0.04146635],
       [ 0.40925481],
       [ 0.22295673],
       [ 0.35216346],
       [ 0.90324519],
       [ 0.51081731],
       [ 0.03725962],
       [ 0.46033654],
       [ 0.17247596],
       [ 0.43088942],
       [ 0.18930288],
       [ 0.07932692],
       [ 0.06790865],
       [ 0.06189904],
       [ 0.14723558],
       [ 0.27283654],
       [ 0.08653846],
       [ 0.31430288],
       [ 0.14603365],
       [ 0.08533654],
       [ 0.15564904],
       [ 0.17548077],
       [ 0.15324519],
       [ 0.04266827],
       [ 0.12920673],
       [ 0.06550481],
       [ 0.11478365],
       [ 0.31009615],
       [ 0.31850962],
       [ 0.15745192],
       [ 0.60997596],
       [ 0.04867788],
       [ 0.47896635],
       [ 0.04987981],
       [ 0.18149038],
       [ 0.76141827],
       [ 0.22896635],
       [ 0.75180288],
       [ 0.04026442],
       [ 0.87680288],
       [ 0.57091346],
       [ 0.14362981],
       [ 0.15745192],
       [ 0.05829327],
       [ 0.28605769],
       [ 0.10877404],
       [ 0.11658654],
       [ 0.33954327],
       [ 0.06310096],
       [ 0.17608173],
       [ 0.046875  ],
       [ 0.14483173],
       [ 0.03966346],
       [ 0.07091346],
       [ 0.48377404],
       [ 0.24338942],
       [ 0.05108173],
       [ 0.10216346],
       [ 0.11147837],
       [ 0.10396635],
       [ 0.21754808],
       [ 0.25300481],
       [ 0.20252404],
       [ 0.19891827],
       [ 0.42788462],
       [ 0.05588942],
       [ 0.16045673],
       [ 0.14603365],
       [ 0.125     ],
       [ 0.05048077],
       [ 0.37620192],
       [ 0.09555288],
       [ 0.05709135],
       [ 0.40504808],
       [ 0.046875  ],
       [ 0.84074519],
       [ 0.07451923],
       [ 0.04987981],
       [ 0.04987981],
       [ 0.0546875 ],
       [ 0.11177885],
       [ 0.09134615],
       [ 0.11899038],
       [ 0.13100962],
       [ 0.05228365],
       [ 0.04326923],
       [ 0.22055288],
       [ 0.07211538],
       [ 0.046875  ],
       [ 0.45012019],
       [ 0.62680288],
       [ 0.06310096],
       [ 0.05048077],
       [ 0.15625   ],
       [ 0.0625    ],
       [ 0.07091346],
       [ 0.73737981],
       [ 0.27524038],
       [ 0.04086538],
       [ 0.12139423],
       [ 0.03485577],
       [ 0.08293269],
       [ 0.11598558],
       [ 0.39543269],
       [ 0.21965144],
       [ 0.28245192],
       [ 0.08894231],
       [ 0.09074519],
       [ 0.04567308],
       [ 0.15625   ],
       [ 0.0703125 ],
       [ 0.04266827],
       [ 0.14002404],
       [ 0.13822115],
       [ 0.08834135],
       [ 0.04807692],
       [ 0.05829327],
       [ 0.05168269],
       [ 0.10877404],
       [ 0.37800481],
       [ 0.08533654],
       [ 0.13341346],
       [ 0.25      ],
       [ 0.59795673],
       [ 0.07692308],
       [ 0.14903846],
       [ 0.38882212],
       [ 0.06490385],
       [ 0.1015625 ],
       [ 0.55228365],
       [ 0.11658654],
       [ 0.18870192],
       [ 0.13701923],
       [ 0.25360577],
       [ 0.44471154],
       [ 0.11778846],
       [ 0.05889423],
       [ 0.07391827],
       [ 0.22836538],
       [ 0.54326923],
       [ 0.1875    ],
       [ 0.08473558],
       [ 0.23677885],
       [ 0.35637019],
       [ 0.07091346],
       [ 0.5234375 ],
       [ 0.703125  ],
       [ 0.03365385],
       [ 0.08834135],
       [ 0.08413462],
       [ 0.03786058],
       [ 0.08353365],
       [ 0.44651442],
       [ 0.07512019],
       [ 0.06310096],
       [ 0.32211538],
       [ 0.07091346],
       [ 0.05588942],
       [ 0.3203125 ],
       [ 0.29867788],
       [ 0.2109375 ],
       [ 0.29927885],
       [ 0.13521635],
       [ 0.11478365],
       [ 0.0625    ],
       [ 0.04987981],
       [ 0.31430288],
       [ 0.70673077],
       [ 0.19110577],
       [ 0.25360577],
       [ 0.07331731],
       [ 0.11418269],
       [ 0.12019231],
       [ 0.03966346],
       [ 0.04927885],
       [ 0.30528846],
       [ 0.04627404],
       [ 0.21574519],
       [ 0.28725962],
       [ 0.89783654],
       [ 0.22475962],
       [ 0.25901442],
       [ 0.11959135],
       [ 0.05709135],
       [ 0.40264423],
       [ 0.05408654],
       [ 0.04747596],
       [ 0.05348558],
       [ 0.17487981],
       [ 0.51923077],
       [ 0.04326923],
       [ 0.34314904],
       [ 0.06129808],
       [ 0.12019231],
       [ 0.39723558],
       [ 0.27764423],
       [ 0.17548077],
       [ 0.05588942],
       [ 0.23197115],
       [ 0.29146635],
       [ 0.12680288],
       [ 0.49639423],
       [ 0.13822115],
       [ 0.05168269],
       [ 0.10697115],
       [ 0.05829327],
       [ 0.06670673],
       [ 0.3046875 ],
       [ 0.29927885],
       [ 0.30408654],
       [ 0.09855769],
       [ 0.04507212],
       [ 0.4375    ],
       [ 0.57692308],
       [ 0.58112981],
       [ 0.359375  ],
       [ 0.59855769],
       [ 0.1328125 ],
       [ 0.04807692],
       [ 0.17307692],
       [ 0.17788462],
       [ 1.07451923],
       [ 0.11358173],
       [ 0.05889423],
       [ 0.85216346],
       [ 0.5546875 ],
       [ 0.04987981],
       [ 0.04627404],
       [ 0.13161058],
       [ 0.10036058],
       [ 0.07572115],
       [ 0.64002404],
       [ 0.15084135],
       [ 0.17487981],
       [ 0.04747596],
       [ 0.30228365],
       [ 0.65294471],
       [ 0.31490385],
       [ 0.70432692],
       [ 0.30829327],
       [ 0.49939904],
       [ 0.36418269],
       [ 0.39663462],
       [ 0.30769231],
       [ 0.58112981],
       [ 0.04206731],
       [ 0.58293269],
       [ 0.02944712],
       [ 0.97596154],
       [ 0.05288462],
       [ 0.45132212],
       [ 0.07271635],
       [ 0.25540865],
       [ 0.89663462],
       [ 0.04206731],
       [ 0.04867788],
       [ 0.66826923],
       [ 0.58713942],
       [ 0.56610577],
       [ 0.53846154],
       [ 0.20973558],
       [ 0.15144231],
       [ 0.046875  ],
       [ 0.38641827],
       [ 0.04807692],
       [ 0.34435096],
       [ 0.28064904],
       [ 0.12800481],
       [ 0.19110577],
       [ 0.17247596],
       [ 0.28936298],
       [ 0.37379808],
       [ 0.56009615],
       [ 0.58353365],
       [ 0.13040865],
       [ 0.39723558],
       [ 0.15324519],
       [ 0.45673077],
       [ 0.06009615],
       [ 0.69621394],
       [ 0.046875  ],
       [ 0.23137019],
       [ 0.08052885],
       [ 0.18028846],
       [ 0.61117788],
       [ 0.10997596],
       [ 0.0453726 ],
       [ 0.41526442],
       [ 0.56520433],
       [ 0.41436298],
       [ 0.50360577],
       [ 0.38161058],
       [ 0.42487981],
       [ 0.13581731],
       [ 0.07872596],
       [ 0.12980769],
       [ 0.10997596],
       [ 0.09435096],
       [ 0.05048077],
       [ 0.51682692],
       [ 0.06370192],
       [ 0.05168269],
       [ 0.18870192],
       [ 0.09555288],
       [ 0.06159856],
       [ 0.2406851 ],
       [ 0.27463942],
       [ 0.05048077],
       [ 0.57091346],
       [ 0.04146635],
       [ 0.11778846],
       [ 0.08713942],
       [ 0.14242788],
       [ 0.08713942],
       [ 0.05288462],
       [ 0.16646635],
       [ 0.12560096],
       [ 0.17067308],
       [ 0.52283654],
       [ 0.54507212],
       [ 0.06189904],
       [ 0.06550481],
       [ 0.07752404],
       [ 0.76923077],
       [ 0.46995192],
       [ 0.31069712],
       [ 0.29086538],
       [ 0.11057692],
       [ 0.18689904],
       [ 0.0546875 ],
       [ 0.55198317],
       [ 0.05048077],
       [ 0.61237981],
       [ 0.12740385],
       [ 0.60336538],
       [ 0.07151442],
       [ 0.27403846],
       [ 0.26442308],
       [ 0.89603365],
       [ 0.34555288],
       [ 0.13341346],
       [ 0.11057692],
       [ 0.22716346],
       [ 0.38341346],
       [ 0.56129808],
       [ 0.04747596],
       [ 0.28665865],
       [ 0.15925481],
       [ 0.11057692],
       [ 0.0859375 ],
       [ 0.81129808],
       [ 0.72415865],
       [ 0.47115385],
       [ 0.06069712],
       [ 0.4375    ],
       [ 0.05108173],
       [ 0.13161058],
       [ 0.12079327],
       [ 0.10697115],
       [ 0.05829327],
       [ 0.06009615],
       [ 1.12620192],
       [ 0.70973558],
       [ 0.03485577],
       [ 0.08112981],
       [ 0.09014423],
       [ 0.14362981],
       [ 0.20192308],
       [ 0.13581731],
       [ 0.08894231],
       [ 0.36057692],
       [ 0.23257212],
       [ 0.08473558],
       [ 0.12980769],
       [ 0.84435096],
       [ 0.13641827],
       [ 0.04266827],
       [ 0.13822115],
       [ 0.0844351 ],
       [ 0.09795673],
       [ 0.75240385],
       [ 0.32692308],
       [ 0.56610577],
       [ 0.08052885],
       [ 0.06670673],
       [ 0.12800481],
       [ 0.04206731],
       [ 0.26862981],
       [ 0.04867788],
       [ 0.0546875 ],
       [ 0.16045673],
       [ 0.05949519],
       [ 0.30048077],
       [ 0.07632212],
       [ 0.16887019],
       [ 1.24939904],
       [ 0.1577524 ],
       [ 0.42247596],
       [ 0.30558894],
       [ 0.42247596],
       [ 0.39783654],
       [ 0.45072115],
       [ 0.66736779],
       [ 0.40564904],
       [ 0.23978365],
       [ 0.13762019],
       [ 0.04146635],
       [ 0.07932692],
       [ 0.2265625 ],
       [ 0.12860577],
       [ 0.16526442],
       [ 0.21033654],
       [ 0.09435096],
       [ 0.34314904],
       [ 0.1171875 ],
       [ 0.12139423],
       [ 0.06310096],
       [ 0.66826923],
       [ 0.07932692],
       [ 0.80228365],
       [ 0.04326923],
       [ 0.16826923],
       [ 0.09375   ],
       [ 0.23197115],
       [ 0.41105769],
       [ 0.13461538],
       [ 0.13401442],
       [ 0.05168269],
       [ 0.10817308],
       [ 0.33353365],
       [ 0.04747596],
       [ 0.36177885],
       [ 0.50600962],
       [ 0.30829327],
       [ 0.23978365],
       [ 0.09555288],
       [ 0.07632212],
       [ 0.11658654],
       [ 0.30408654],
       [ 0.109375  ],
       [ 0.50600962],
       [ 0.23257212],
       [ 0.53305288],
       [ 0.29447115],
       [ 0.23677885],
       [ 0.44891827],
       [ 0.16526442],
       [ 0.06730769],
       [ 0.38040865],
       [ 0.54627404],
       [ 0.2265625 ],
       [ 0.53425481],
       [ 0.16466346],
       [ 0.20012019],
       [ 0.04927885],
       [ 0.04867788],
       [ 0.05408654],
       [ 0.0546875 ],
       [ 0.05769231],
       [ 0.44771635],
       [ 0.07211538],
       [ 0.05168269],
       [ 0.07331731],
       [ 0.15985577],
       [ 0.11838942],
       [ 0.04747596],
       [ 0.28034856],
       [ 0.078125  ],
       [ 0.26201923],
       [ 0.64002404],
       [ 0.10697115],
       [ 0.13221154],
       [ 0.31550481],
       [ 0.11838942],
       [ 0.09314904],
       [ 0.10516827],
       [ 0.05829327],
       [ 0.67157452],
       [ 0.52644231],
       [ 0.19591346],
       [ 0.515625  ],
       [ 0.37710337],
       [ 0.84254808],
       [ 0.17608173],
       [ 0.13401442],
       [ 0.140625  ],
       [ 0.28725962],
       [ 0.28305288],
       [ 0.41826923],
       [ 0.05228365],
       [ 0.34014423],
       [ 0.13822115],
       [ 0.05048077],
       [ 0.34194712],
       [ 0.05588942],
       [ 0.08834135],
       [ 0.76322115],
       [ 0.15625   ],
       [ 0.25060096],
       [ 0.24459135],
       [ 0.12560096],
       [ 0.11117788],
       [ 0.11478365],
       [ 0.05048077],
       [ 0.16346154],
       [ 0.20342548],
       [ 0.64903846],
       [ 0.15324519],
       [ 0.06790865],
       [ 0.06971154],
       [ 0.09555288],
       [ 0.30829327],
       [ 0.36418269],
       [ 0.1640625 ],
       [ 0.14663462],
       [ 0.03545673],
       [ 0.04146635],
       [ 0.0390625 ],
       [ 0.11478365],
       [ 0.09735577],
       [ 0.04927885],
       [ 0.07632212],
       [ 0.4296875 ],
       [ 0.03725962],
       [ 0.15444712],
       [ 0.09855769],
       [ 0.06790865],
       [ 0.11959135],
       [ 0.07211538],
       [ 0.05108173],
       [ 0.1796875 ],
       [ 0.33173077],
       [ 0.17307692],
       [ 0.50600962],
       [ 0.08894231],
       [ 0.10096154],
       [ 0.18449519],
       [ 0.81790865],
       [ 0.33834135],
       [ 0.05228365],
       [ 0.18209135],
       [ 0.04326923],
       [ 0.08954327],
       [ 0.05528846],
       [ 0.10997596],
       [ 0.19170673],
       [ 0.27403846],
       [ 0.06610577],
       [ 0.10697115],
       [ 0.05348558],
       [ 0.203125  ],
       [ 0.5625    ],
       [ 0.08533654],
       [ 0.3578726 ],
       [ 0.04026442],
       [ 0.16826923],
       [ 0.09675481],
       [ 0.0546875 ],
       [ 0.07001202],
       [ 0.07331731],
       [ 0.23918269],
       [ 0.09194712],
       [ 0.16856971],
       [ 0.42668269],
       [ 0.1875    ],
       [ 0.25060096],
       [ 0.36358173],
       [ 0.46454327],
       [ 0.10096154],
       [ 0.29507212],
       [ 0.21875   ],
       [ 0.04447115],
       [ 0.35817308],
       [ 0.07632212],
       [ 0.29507212],
       [ 0.21574519],
       [ 0.03725962],
       [ 0.25961538],
       [ 0.11538462],
       [ 0.2734375 ],
       [ 0.06370192],
       [ 0.05348558],
       [ 0.15444712],
       [ 0.14242788],
       [ 0.26262019],
       [ 0.27704327],
       [ 0.09615385],
       [ 0.69230769],
       [ 0.46003606],
       [ 0.10096154],
       [ 0.29026442],
       [ 0.06730769],
       [ 0.13341346],
       [ 0.5766226 ],
       [ 0.0546875 ],
       [ 0.58954327],
       [ 0.04146635],
       [ 0.04146635],
       [ 0.45733173],
       [ 0.32512019],
       [ 1.18329327],
       [ 0.03665865],
       [ 0.05649038],
       [ 0.15925481],
       [ 0.43509615],
       [ 0.34675481],
       [ 0.28485577],
       [ 0.05048077],
       [ 0.33533654],
       [ 0.37379808],
       [ 0.296875  ],
       [ 0.53966346],
       [ 0.11177885],
       [ 0.09735577],
       [ 0.20042067],
       [ 0.10637019],
       [ 0.26682692],
       [ 0.05649038],
       [ 0.08173077],
       [ 0.09014423],
       [ 0.07572115],
       [ 0.16526442],
       [ 0.10576923],
       [ 0.05769231],
       [ 0.13641827],
       [ 0.09134615],
       [ 0.04266827],
       [ 0.74759615],
       [ 0.14543269],
       [ 0.18028846],
       [ 0.02463942],
       [ 0.19471154],
       [ 0.04387019],
       [ 0.06971154],
       [ 0.08293269],
       [ 0.21754808],
       [ 0.07932692],
       [ 0.07872596],
       [ 0.29026442],
       [ 0.39182692],
       [ 0.07512019],
       [ 0.06850962],
       [ 0.22986779],
       [ 0.21694712],
       [ 0.27944712],
       [ 0.04627404],
       [ 0.08112981],
       [ 0.04567308],
       [ 0.09975962],
       [ 0.20432692],
       [ 0.25420673],
       [ 0.05769231],
       [ 0.49098558],
       [ 0.20192308],
       [ 0.29627404],
       [ 0.19110577],
       [ 0.51262019],
       [ 0.36658654],
       [ 0.05348558],
       [ 0.09314904],
       [ 0.33954327],
       [ 0.62860577],
       [ 0.20432692],
       [ 0.08653846],
       [ 0.125     ],
       [ 0.07151442],
       [ 0.35336538],
       [ 0.09134615],
       [ 0.04326923],
       [ 0.10997596],
       [ 0.05709135],
       [ 0.04326923],
       [ 0.58533654],
       [ 0.05588942],
       [ 0.03605769],
       [ 0.07151442],
       [ 0.16887019],
       [ 0.04447115],
       [ 0.19471154],
       [ 0.13882212],
       [ 0.10576923],
       [ 0.04326923],
       [ 0.07872596],
       [ 0.32692308],
       [ 0.07572115],
       [ 0.04086538],
       [ 0.21634615],
       [ 0.05408654],
       [ 0.07451923],
       [ 0.0625    ],
       [ 0.11177885],
       [ 0.14663462],
       [ 0.70853365],
       [ 0.24158654],
       [ 0.6640625 ],
       [ 0.06009615],
       [ 0.35637019],
       [ 0.140625  ],
       [ 0.12319712],
       [ 0.06911058],
       [ 0.07091346],
       [ 0.20913462],
       [ 0.3359375 ],
       [ 0.82692308],
       [ 0.078125  ],
       [ 0.07992788],
       [ 0.11298077],
       [ 0.03846154],
       [ 0.29326923],
       [ 0.24158654],
       [ 0.05649038],
       [ 0.35276442],
       [ 0.09855769],
       [ 0.12560096],
       [ 0.05348558],
       [ 0.15955529],
       [ 0.15625   ],
       [ 0.07932692],
       [ 0.31730769],
       [ 0.27704327],
       [ 0.06189904],
       [ 0.21875   ],
       [ 0.08774038],
       [ 0.11418269],
       [ 0.08713942],
       [ 0.12800481],
       [ 0.09555288],
       [ 0.38191106],
       [ 0.06730769],
       [ 0.09014423],
       [ 0.06009615],
       [ 0.27223558],
       [ 0.10516827],
       [ 0.5       ],
       [ 0.07271635],
       [ 0.41646635],
       [ 0.05709135],
       [ 0.08834135],
       [ 0.11598558],
       [ 0.10096154],
       [ 0.29927885],
       [ 0.77463942],
       [ 0.04146635],
       [ 0.47566106],
       [ 0.05769231],
       [ 0.06310096],
       [ 0.06310096],
       [ 0.15504808],
       [ 0.06129808],
       [ 0.72926683],
       [ 0.54927885],
       [ 0.30649038],
       [ 0.47716346],
       [ 0.05709135],
       [ 0.04146635],
       [ 0.06700721],
       [ 0.05228365],
       [ 0.04206731],
       [ 0.04747596],
       [ 0.0625    ],
       [ 0.41165865],
       [ 0.05769231],
       [ 0.07271635],
       [ 0.04387019],
       [ 0.06610577],
       [ 0.03786058],
       [ 0.16165865],
       [ 0.046875  ],
       [ 0.4453125 ],
       [ 0.03125   ],
       [ 0.31490385],
       [ 0.26442308],
       [ 0.0546875 ],
       [ 0.19471154],
       [ 0.13641827],
       [ 0.23858173],
       [ 0.15444712],
       [ 0.04447115],
       [ 0.48978365],
       [ 0.12530048],
       [ 0.25420673],
       [ 0.11598558],
       [ 0.08413462],
       [ 0.23016827],
       [ 0.109375  ],
       [ 0.48677885],
       [ 0.07271635],
       [ 0.06069712],
       [ 0.33533654],
       [ 0.17067308],
       [ 0.05829327],
       [ 0.91045673],
       [ 0.26622596],
       [ 0.38641827],
       [ 0.06730769],
       [ 0.13882212],
       [ 0.43269231],
       [ 0.10216346],
       [ 0.07331731],
       [ 0.41496394],
       [ 0.04627404],
       [ 0.05348558],
       [ 0.04326923],
       [ 0.04326923],
       [ 0.09014423],
       [ 0.13581731],
       [ 0.10336538],
       [ 0.43269231],
       [ 0.19771635],
       [ 0.67548077],
       [ 0.09074519],
       [ 0.03245192],
       [ 0.24338942],
       [ 0.36899038],
       [ 0.08112981],
       [ 0.55649038],
       [ 0.24158654],
       [ 0.14423077],
       [ 0.03485577],
       [ 0.078125  ],
       [ 0.22415865],
       [ 0.05288462],
       [ 0.18629808],
       [ 0.26322115],
       [ 0.06430288],
       [ 0.75      ],
       [ 0.51682692],
       [ 0.33353365],
       [ 0.63221154],
       [ 0.09615385],
       [ 0.203125  ],
       [ 0.48497596],
       [ 0.40324519],
       [ 0.05168269],
       [ 0.66887019],
       [ 0.27584135],
       [ 0.11658654],
       [ 0.54326923],
       [ 0.12139423],
       [ 0.53094952],
       [ 0.04507212],
       [ 0.6484375 ],
       [ 0.44050481],
       [ 0.06310096],
       [ 0.28605769],
       [ 0.06911058],
       [ 0.28725962],
       [ 0.10096154],
       [ 0.31490385],
       [ 0.10576923],
       [ 0.07872596],
       [ 0.09375   ],
       [ 0.40384615],
       [ 0.15805288],
       [ 0.06790865],

In [ ]:
###Singular Value Decomposition

What SVD does is, it takes a matrix and gives three matrices as the output -> 'U' (orthogonal), 'S'(diagonal) and 'Vt'(transpose of an orthogonal). SVD is a matrix factorization technique that takes a matrix and decomposes it to the best lower rank(takes the best features, kind of like pca). In this case U is the users feature matrix (something like how much users "like" certain features), Vt is the items vector and S is the diagonal matrix of singular values (something like weights).

In [877]:
#getting the U, S and Vt values
U, sigma, Vt = svds(svd_movies_matrix, k = 10)

In [878]:
#Sigma value above is outputed as an array, but we need it in the form of a diagonal matrix
sigma = np.diag(sigma)

In [889]:
#creating predictions
predicted = np.dot(np.dot(U, sigma), Vt)
predicted_ratings = np.dot(np.dot(U, sigma), Vt) * user_means

In [890]:
predicted_ratings

array([[  4.13204703e-02,   2.86849575e-02,   6.62762788e-01, ...,
          2.71406035e-02,   6.36375179e-02,   1.12078002e-03],
       [  4.36798221e-03,   4.92118098e-02,   2.76978840e-01, ...,
          1.80681660e-02,  -3.72138894e-03,   1.56169105e-04],
       [ -1.35259823e-03,   1.38577574e-04,  -6.50964488e-02, ...,
          4.88776468e-04,   6.64276776e-02,   4.31446527e-05],
       ...,
       [ -1.54807292e-03,   2.53200421e-02,   2.33365803e-01, ...,
          8.15698056e-03,   3.27823939e-03,  -6.74439125e-05],
       [  2.72674392e-02,  -2.54708924e-02,   2.11709355e-01, ...,
          2.87289514e-04,  -8.85277957e-03,   3.62645916e-04],
       [  3.24977410e-02,  -3.86551318e-02,   4.96014599e-01, ...,
          3.67927251e-02,   5.64052327e-02,   7.08069591e-04]])

In [870]:
predicted_df = pd.DataFrame(predicted_ratings, columns= user_movies.columns)
#Data frame index starts with 0 but original dataset starts with 1, so adding 1 to index
predicted_df.index = predicted_df.index + 1

In [871]:
predicted_df.head()

title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,� k�ldum klaka (Cold Fever) (1994)
1,0.041320,0.028685,0.662763,1.618436,0.062006,0.596432,0.493691,3.074301,0.029426,0.654572,...,0.000742,0.036697,0.003545,2.302366,0.616471,0.211703,0.527240,0.027141,0.063638,0.001121
2,0.004368,0.049212,0.276979,0.208428,-0.094744,0.298444,-0.035093,0.003464,0.028983,0.070455,...,-0.000120,0.027676,-0.000288,-0.060491,-0.086959,-0.036478,0.243128,0.018068,-0.003721,0.000156
3,-0.001353,0.000139,-0.065096,-0.057096,0.193164,0.113626,-0.000547,0.080283,-0.012290,-0.025152,...,-0.000016,0.059982,0.000064,0.014946,0.031229,0.009437,0.032536,0.000489,0.066428,0.000043
4,-0.003586,0.009182,0.021582,-0.030150,0.239499,-0.012419,0.011642,0.077223,0.002664,0.008873,...,-0.000005,0.033490,0.000052,0.029382,0.037159,0.011544,0.123791,-0.013921,0.024804,-0.000070
5,0.020626,-0.031499,0.493114,0.699624,0.064580,0.105436,0.297689,1.422237,0.022474,0.296479,...,0.000457,0.009697,0.002108,1.231089,0.401294,0.144115,0.026133,0.001027,0.014038,0.000404

In [872]:
#creating function to get recommendations
def svd_recommender(df_predict, user, umr, number_recomm):
    user_predicted_movies = df_predict.loc[user, :].sort_values(ascending = False)
    original_data = umr.loc[user, :].sort_values(ascending = False)
    already_rated = user_movies.loc[user, :].dropna()
    unrated = list(user_movies.loc[1, pd.isnull(user_movies.loc[user, :])].index)
    
    recommendations = df_predict.loc[user][unrated]
    
    recommendations = pd.DataFrame(recommendations.sort_values(ascending = False).index[:number_recomm])
    
    return recommendations, already_rated

What the above function does is it takes a user, looks at what movies (s)he's already predicted, ignores them and returns the top 10 recommended movies. It also returns the top movies the person has rated to compare the results.

In [873]:
#getting values for user no. 650
recommend_650, rated_650 = svd_recommender(predicted_df, 650, svd_movies, 10)

In [874]:
print('Top 10 Recommendations for User 650')
print(recommend_1)

Top 10 Recommendations for User 1
                                title
0             Schindler's List (1993)
1    Shawshank Redemption, The (1994)
2                    Apollo 13 (1995)
3          Usual Suspects, The (1995)
4                  Stand by Me (1986)
5                         Babe (1995)
6                Seven (Se7en) (1995)
7  Four Weddings and a Funeral (1994)
8                        Glory (1989)
9       Much Ado About Nothing (1993)

In [891]:
print('Best rated movies by the user')
rated_1.sort_values(ascending = False)[:10]

Best rated movies by the user

title
Maltese Falcon, The (1941)    5.0
Young Frankenstein (1974)     5.0
Casablanca (1942)             5.0
Citizen Kane (1941)           5.0
Vertigo (1958)                5.0
Star Wars (1977)              5.0
Great Race, The (1965)        5.0
Lawrence of Arabia (1962)     5.0
Princess Bride, The (1987)    5.0
North by Northwest (1959)     5.0
Name: 650, dtype: float64

**Upcoming - Recommender systems with Deep Learning**